/TallerOCP/build/
/TallerSRP2/build/
/TallertLsp/nbproject/private/
/Taller1Paradigmas/nbproject/private/
/TallertLsp/build/
/Taller7DIP/nbproject/private/
/Taller7DIP/build/
/Taller7Dip/build/
/Taller7Dip/nbproject/private/
