/TallerOCP/build/
/TallerSRP2/build/
/TallertLsp/nbproject/private/
/Taller1Paradigmas/nbproject/private/
/TallertLsp/build/
/Taller7DIP/nbproject/private/
/Taller7DIP/build/
/Taller7Dip/build/
/Taller7Dip/nbproject/private/
/Taller8DIP/nbproject/private/
/Taller8DIP/build/
/Taller8SRP/nbproject/private/
/Taller9/target/
/Taller10/target/
/Taller11/target/
/Taller12/nbproject/private/
/Taller12/build/
/Taller12/dist/
