/TallerOCP/build/
/TallerSRP2/build/
/TallertLsp/nbproject/private/
/Taller1Paradigmas/nbproject/private/
/TallertLsp/build/
/Taller7DIP/nbproject/private/
/Taller7DIP/build/
/Taller7Dip/build/
/Taller7Dip/nbproject/private/
/Taller8DIP/nbproject/private/
/Taller8DIP/build/
/Taller8SRP/nbproject/private/
/Taller9/target/
/Taller10/target/
/Taller11/target/
/Taller12/nbproject/private/
/Taller12/build/
/Taller12/dist/
/Taller/target/
/Taller16/nbproject/private/
/Taller16/build/
/Parcial/target/
/Parcial/nbproject/
/Taller17/nbproject/private/
/Taller17/build/
/ParcialTercerCorte/nbproject/private/
/Ing.-Software-2-main/Ejemplo1AbstractFactory/build/
/Ing.-Software-2-main/Ejemplo1AbstractFactory/nbproject/private/
/Ing.-Software-2-main/Ejemplo1FactoryMethod/build/
/Ing.-Software-2-main/Ejemplo1FactoryMethod/nbproject/private/
/Ing.-Software-2-main/Ejemplo1PatronBuilder/build/
/Ing.-Software-2-main/Ejemplo1PatronBuilder/nbproject/private/
/Ing.-Software-2-main/Ejemplo1PatronProtoype/build/
/Ing.-Software-2-main/Ejemplo1PatronProtoype/nbproject/private/
/Ing.-Software-2-main/Ejemplo2FactoryMethod/build/
/Ing.-Software-2-main/Ejemplo2FactoryMethod/nbproject/private/
/Ing.-Software-2-main/EjemploPatronAdapter/build/
/Ing.-Software-2-main/EjemploPatronAdapter/nbproject/private/
/Ing.-Software-2-main/EjemploPatronAdapter2/build/
/Ing.-Software-2-main/EjemploPatronAdapter2/nbproject/private/
/Ing.-Software-2-main/EjemploPatronBridge/build/
/Ing.-Software-2-main/EjemploPatronBridge/nbproject/private/
/Ing.-Software-2-main/EjemploPatronCommand/nbproject/private/
/Ing.-Software-2-main/EjemploPatronComposite/nbproject/private/
/Ing.-Software-2-main/EjemploPatronDecorator/build/
/Ing.-Software-2-main/EjemploPatronDecorator/nbproject/private/
/Ing.-Software-2-main/EjemploPatronFacade/nbproject/private/
/Ing.-Software-2-main/EjemploPatronFacade2/nbproject/private/
/Ing.-Software-2-main/EjemploPatronSingleton/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/Ejemplo1AbstractFactory/build/
/ParcialTercerCorte/Ing.-Software-2-main/Ejemplo1AbstractFactory/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/Ejemplo1FactoryMethod/build/
/ParcialTercerCorte/Ing.-Software-2-main/Ejemplo1FactoryMethod/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/Ejemplo1PatronBuilder/build/
/ParcialTercerCorte/Ing.-Software-2-main/Ejemplo1PatronBuilder/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/Ejemplo1PatronProtoype/build/
/ParcialTercerCorte/Ing.-Software-2-main/Ejemplo1PatronProtoype/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/Ejemplo2FactoryMethod/build/
/ParcialTercerCorte/Ing.-Software-2-main/Ejemplo2FactoryMethod/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/EjemploPatronAdapter/build/
/ParcialTercerCorte/Ing.-Software-2-main/EjemploPatronAdapter/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/EjemploPatronAdapter2/build/
/ParcialTercerCorte/Ing.-Software-2-main/EjemploPatronAdapter2/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/EjemploPatronBridge/build/
/ParcialTercerCorte/Ing.-Software-2-main/EjemploPatronBridge/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/EjemploPatronCommand/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/EjemploPatronComposite/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/EjemploPatronDecorator/build/
/ParcialTercerCorte/Ing.-Software-2-main/EjemploPatronDecorator/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/EjemploPatronFacade/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/EjemploPatronFacade2/nbproject/private/
/ParcialTercerCorte/Ing.-Software-2-main/EjemploPatronSingleton/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/Ejemplo1AbstractFactory/build/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/Ejemplo1AbstractFactory/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/Ejemplo1FactoryMethod/build/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/Ejemplo1FactoryMethod/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/Ejemplo1PatronBuilder/build/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/Ejemplo1PatronBuilder/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/Ejemplo1PatronProtoype/build/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/Ejemplo1PatronProtoype/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/Ejemplo2FactoryMethod/build/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/Ejemplo2FactoryMethod/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/EjemploPatronAdapter/build/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/EjemploPatronAdapter/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/EjemploPatronAdapter2/build/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/EjemploPatronAdapter2/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/EjemploPatronBridge/build/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/EjemploPatronBridge/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/EjemploPatronCommand/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/EjemploPatronComposite/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/EjemploPatronDecorator/build/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/EjemploPatronDecorator/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/EjemploPatronFacade/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/EjemploPatronFacade2/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ing.-Software-2-main/EjemploPatronSingleton/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/EjemploPatronSingleton/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ejemplo2FactoryMethod/build/
/ParcialTercerCorte/src/parcialtercercorte/Ejemplo2FactoryMethod/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/EjemploPatronFacade/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/EjemploPatronAdapter2/build/
/ParcialTercerCorte/src/parcialtercercorte/EjemploPatronAdapter2/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/EjemploPatronDecorator/build/
/ParcialTercerCorte/src/parcialtercercorte/EjemploPatronDecorator/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/EjemploPatronBridge/build/
/ParcialTercerCorte/src/parcialtercercorte/EjemploPatronBridge/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/EjemploPatronAdapter/build/
/ParcialTercerCorte/src/parcialtercercorte/EjemploPatronAdapter/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ejemplo1PatronBuilder/build/
/ParcialTercerCorte/src/parcialtercercorte/Ejemplo1PatronBuilder/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ejemplo1FactoryMethod/build/
/ParcialTercerCorte/src/parcialtercercorte/Ejemplo1FactoryMethod/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ejemplo1PatronProtoype/build/
/ParcialTercerCorte/src/parcialtercercorte/Ejemplo1PatronProtoype/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/Ejemplo1AbstractFactory/build/
/ParcialTercerCorte/src/parcialtercercorte/Ejemplo1AbstractFactory/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/EjemploPatronCommand/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/EjemploPatronComposite/nbproject/private/
/ParcialTercerCorte/src/parcialtercercorte/EjemploPatronFacade2/nbproject/private/
/EjemploPatronObserver2/nbproject/private/
/EjemploPatronObserver2/build/
/EjemploPatronObserver2/dist/
/Taller17/dist/
/Parcial3SoftwareII/nbproject/private/
/Parcial3SoftwareII/build/
